<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">

    <h1>Preorder products</h1>
  </div>
</div>
    
 <div class="chart-container" style="position: relative; height:15vh; width:50vw; margin:auto; display:block;">   
 <canvas id="myChart"></canvas>  
</div>
    
<script>

function getPreOrder(){
    return $.ajax({
     url: "https://inventory-shop-oauth.herokuapp.com/displayCustomersInterest",
     type: 'GET'
    });
  }
function handleData(data) {
//data contains 2 arrays, first is the names, second is quantities
var ctx = document.getElementById('myChart').getContext('2d');
var colors = ['#FF6633', '#FFB399', '#FF33FF', '#FFFF99', '#00B3E6', 
		  '#E6B333', '#3366E6', '#999966', '#99FF99', '#B34D4D',
		  '#80B300', '#809900', '#E6B3B3', '#6680B3', '#66991A', 
		  '#FF99E6', '#CCFF1A', '#FF1A66', '#E6331A', '#33FFCC',
		  '#66994D', '#B366CC', '#4D8000', '#B33300', '#CC80CC', 
		  '#66664D', '#991AFF', '#E666FF', '#4DB3FF', '#1AB399',
		  '#E666B3', '#33991A', '#CC9999', '#B3B31A', '#00E680', 
		  '#4D8066', '#809980', '#E6FF80', '#1AFF33', '#999933',
		  '#FF3380', '#CCCC00', '#66E64D', '#4D80CC', '#9900B3', 
		  '#E64D66', '#4DB380', '#FF4D4D', '#99E6E6', '#6666FF'];
console.log(data[0]);
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: data[0],
        datasets: [{
            label: '# of Customers Signed Up for PreOrder',
            data: data[1],
            backgroundColor: colors,
            borderWidth: 1
        }]
    }
});
    
}
getPreOrder().done(handleData);
</script>
    
    
</body>
</html>
