<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">

    <h1>Pre-Order Inventory</h1>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/Ryang20718"><span class="glyphicon glyphicon-download"></span>Github</a>
  </div>
</div>
<div class="container">

  <div class="row">
    <div class="col-md-6">
      <ul>
          <h2>Instructions</h2>
          <ol></ol>
      </ul>
      <ul>
          <h3>Clean Pre-Order Products</h3>
          <a onclick = "clean()"type="button" class="btn btn-lg btn-default" href="https://github.com/Ryang20718">Submit</a>
      </ul>
    </div>
    <div class="col-md-6">
<div style="padding-bottom:40px;">
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>

  <div class="form-group">
    <label for="exampleTextarea">Issues</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
          
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Contact me if you have any issues.
  </div>
</div>
    
    
<script>
<canvas id="myChart"></canvas>
function getPreOrder(){
    return $.ajax({
     url: "https://inventory-shop-oauth.herokuapp.com/displayCustomersInterest",
     type: 'GET'
    });
  }
function handleData(data) {
//data contains 2 arrays, first is the names, second is quantities
var ctx = document.getElementById('myChart').getContext('2d');
var colors = [ '#2685CB', '#4AD95A', '#FEC81B', '#FD8D14', '#CE00E6', '#4B4AD3', '#FC3026', '#B8CCE3', '#6ADC88', '#FEE45F'  ];

var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: data[0],
        datasets: [{
            label: '# of Votes',
            data: data[1],
            backgroundColor: [
                'black'
            ],
            borderWidth: 1
        }]
    }
});
    
}
getPreOrder().done(handleData);
</script>
    
    
</body>
</html>
